/* background web */
* {
    background-color: aliceblue;
}

a {
    background-color: white;
}

#heading {
    font-size: 25px;
    background-color: white;
}

/* vi·ªÅn table */
#productAll {
    margin: auto;
    width: 1000px;
    border: 3px solid red;
    padding: 10px;
    background-color: white;
}

#productFlashSale {
    margin: auto;
    width: 1000px;
    border: 3px solid orange;
    padding: 10px;
    background-color: white;
}

#productGiaDung {
    margin: auto;
    width: 1000px;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}

#productThoiTrang {
    margin: auto;
    width: 1000px;
    border: 3px solid blueviolet;
    padding: 10px;
    background-color: white;
}

#productTienIch {
    margin: auto;
    width: 1000px;
    border: 3px solid cornflowerblue;
    padding: 10px;
    background-color: white;
}

/* header */
#topBar {
    margin: -8px;
    padding: 30px;
    background-color: red;
}

#navigation {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 1000px;
    background-color: red;
}

.navigate {
    background-color: red;
}

.header {
    color: white;
    text-decoration: none;
    background-color: red;
}

/* display product */
.productTable {
    width: 100%;
    text-align: center;
    background-color: white;
}

#content {
    margin-left: -8px;
    margin-top: -20px;
    padding-right: 14px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.product {
    background-color: white;
    width: 25%;
    padding-top: 20px;
    font-size: 20px;
}

.changePage {
    border: 1px solid; 
    padding: 5px
}

/* title */
#hot {
    background-color: white;
    padding-top: 20px;
}

#flash {
    background-color: white;
    padding-top: 20px;
}

#clothes {
    color: blueviolet;
    background-color: white;
    padding-top: 20px;
}

#goods {
    background-color: white;
    padding-top: 20px;
}

#convenience {
    color: cornflowerblue;
    background-color: white;
    padding-top: 20px;
}

/* footer */
#contact {
    margin: 35px;
    margin-bottom: 0;
}

.note {
    color: red;
}

.icon {
    width: 70px;
    height: 50px;
    background-color: aliceblue;
}

#fb {
    width: 270px;
    height: 150px;
    margin-left: 40px;
    margin-top: -7px;
    background-color: aliceblue
}

/* others */
img {
    background-color: white;
}

span {
    background-color: white;
}