#title {
    text-align: center;
    color: white;
    background-color: orangered;
    font-size: 18px
}

.right {
    text-align: right;
    color: blue;
}

.orange {
    color: orangered;
}

table {
    width: 400px;
    height: 200px;
    margin: 7px 20px 13px 20px;
    background-color: white;
}

form {
    width: 440px;
    height: 220px;
    border: 1px solid white;
    background-color: aqua;
}